<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>

    
    <httpProtocol>
      <customHeaders>
        <remove name="Content-Security-Policy" />
      </customHeaders>
    </httpProtocol>


    <handlers>
      <add name="iisnode" path="src/server.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^src/server.js\/debug[\/]?" />
        </rule>
        <rule name="API" stopProcessing="true">
          <match url="^api/(.*)$" />
          <action type="Rewrite" url="src/server.js" />
        </rule>
        <rule name="StaticContent">
          <match url="^(public|uploads)/(.*)" />
          <action type="Rewrite" url="{R:1}/{R:2}" />
        </rule>
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
          </conditions>
          <action type="Rewrite" url="src/server.js" />
        </rule>
                <!-- Block access to sensitive files -->
        <rule name="BlockAccessToPackageJson" stopProcessing="true">
          <match url="^package\.json$|^package-lock\.json$" />
          <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Access Denied" />
        </rule>
        
        <rule name="BlockAccessToAppJs" stopProcessing="true">
          <match url="^app\.js$|^src/app\.js$" />
          <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Access Denied" />
        </rule>
        
        <rule name="BlockAccessToSrcFiles" stopProcessing="true">
          <match url="^src/(?!server\.js)(.*\.js)$" />
          <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Access Denied" />
        </rule>
        
        <rule name="BlockAccessToNodeModules" stopProcessing="true">
          <match url="^node_modules/.*$" />
          <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Access Denied" />
        </rule>
        
        <rule name="BlockAccessToConfigFiles" stopProcessing="true">
          <match url="^\.env$|^\.gitignore$|^\.npmrc$|^ecosystem\.config\.js$" />
          <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Access Denied" />
        </rule>
      </rules>
    </rewrite>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <remove segment="bin" />
        </hiddenSegments>
      </requestFiltering>
    </security>
    <httpErrors existingResponse="PassThrough" />
    <iisnode 
      nodeProcessCommandLine="C:\Program Files\nodejs\node.exe"
      node_env="production" 
      loggingEnabled="true"
      logDirectory="iisnode"
      watchedFiles="*.js;node_modules\*;routes\*.js;middleware\*.js" />
  </system.webServer>
</configuration> 